@use "sass:meta";
@use "../../../../theme" as *;
@use "../../../variables/props/key-tokens" as key-tokens;
@use "../../../variables/props/layout" as layout;
@use "../../../variables/props/wrapper" as wrapper;

$_valid-key-tokens-keys: 'text-frame-ratio' 'text-frame-y' 'text-frame-x' 'space-increment' 'unit-max' 'unit-min' 'unit-fluid' 'unit' 'radius' 'line-height-relative' 'line-height-fixed' 'border' 'flow-space' 'field-border-color' 'field-border-width';
$_valid-layout-keys: 'layout-column-min' 'layout-gap' 'layout-grid-min' 'layout-grid-gap' 'layout-grid-template-columns' 'column-count' 'breakpoint' 'column-size' 'flex-grid-min' 'flex-grid-gap';
$_valid-wrapper-keys: 'root-max-wrapper-width' 'max-wrapper-width' 'wrapper-padding' 'wrapper-padding-min' 'wrapper-inline' 'wrapper-width' 'grid-wrapper-columns';

$_key-tokens: meta.module-variables("key-tokens");
$_layout: meta.module-variables("layout");
$_wrapper: meta.module-variables("wrapper");

@mixin key-tokens-props() {
    @include output-props(pick-keys($_key-tokens, $_valid-key-tokens-keys)...);
}

@mixin layout-props() {
    @include output-props(pick-keys($_layout, $_valid-layout-keys)...);
}

@mixin wrapper-props() {
    @include output-props(pick-keys($_wrapper, $_valid-wrapper-keys)...);
}

// Layout related variables
@mixin output-key-tokens-props($with-scope: true) {
    @if $with-scope {
        @include output-rules-with-scope() {
            @include key-tokens-props();
        }
    } @else {
        @include key-tokens-props();
    }

}

@mixin output-layout-props($with-scope: true) {
     @if $with-scope {
        @include output-rules-with-scope() {
            @include layout-props();
        }
    } @else {
        @include layout-props();
    }
}

@mixin output-wrapper-props($with-scope: true) {
     @if $with-scope {
        @include output-rules-with-scope() {
            @include wrapper-props();
        }
    } @else {
        @include wrapper-props();
    }
}
