@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "../../../../theme" as *;
// @use "../../../variables" as *;
@use "../../../variables/props/spacing" as spacing;

$_spacing: meta.module-variables("spacing");

@each $key, $value in $_spacing {
    $key-starts-with: list.nth(str-explode($key, '-'), 1);
    @if not ($key-starts-with == 'space') {
        $_spacing: map.remove($_spacing , $key );
    }
}

@mixin spacing-props() {
    @include output-props($_spacing...); 
}

// Spacing related variables
@mixin output-spacing-props($with-scope: true) {
     @if $with-scope {
        @include output-rules-with-scope() {
            @include spacing-props();
        }
    } @else {
        @include spacing-props();
    }
}