@mixin heading-size($size: "default", $heading-sizes) {
    $heading: map-get($heading-sizes, $size);
    @each $key, $value in $heading {         
        @if $key == "font-size-min" or $key == "font-size-max" {
            $font-size-min: map-get($heading-sizes, $value);
            --#{$key}: var(--heading-#{$size}-#{$key}, var(--#{$value}-px));
            @if($key == "font-size-max") {
                --font-size: calc((var(--font-size-max) / var(--font-size-base-px)) * 1rem)
            }
        } @else {
            @if(map-has-key($heading , $key)) {            
                --#{$key}: var(--heading-#{$size}-#{$key}, #{$value});
            }
        }        
    }
}