@use "sass:map";
@use "../../../../variables/components/typography/headings" as *;

@mixin heading-size($size: "default", $heading-sizes) {
    $heading: map.get($heading-sizes, $size);
    @each $key, $value in $heading {         
        @if $key == "font-size-min" or $key == "font-size-max" {
            $font-size-min: map.get($heading-sizes, $value);
            --#{$key}: var(--heading-#{$size}-#{$key}, var(--#{$value}-px));
            &.fluid-cq {
                --#{$key}: var(--heading-#{$size}-#{$key}, var(--#{$value}));
            }
            @if($key == "font-size-max") {
                --font-size: var(--heading-#{$size}-font-size, calc((var(--font-size-max) / var(--font-size-base-px)) * 1rem));
                &.fluid-cq {
                    --font-size: var(--heading-#{$size}-font-size-fluid-cq, min(var(--font-size-max, var(--font-size-base-px)), calc(var(--font-size-min, var(--sm-px)) + var(--font-fluid-cq-variance, 3cqw))));
                    &:is(.fluid) {
                         font-size: var(--font-size);
                    }
                }
            }
        } @else {
            @if(map-has-key($heading , $key)) {            
                --#{$key}: var(--heading-#{$size}-#{$key}, #{$value});
            }
        }        
    }
}

@mixin output-heading-rules($map, $heading-name, $heading-sizes) {
  @if (map-has-key($map, "size")) {
    $size: map.get($map, "size");
    @include heading-size($size, $heading-sizes);
  }

    $text-transform: if(map-has-key($map, "text-transform"), if(map.get($map, "text-transform") != '', map.get($map, "text-transform"), none), none);
    $letter-spacing: if(map-has-key($map, "letter-spacing"), if(map.get($map, "letter-spacing") != '', map.get($map, "letter-spacing"), normal), normal);
    $line-height: if(map-has-key($map, "line-height"), if(map.get($map, "line-height") != '', map.get($map, "line-height"), normal), normal);
    $color: if(map-has-key($map, "color"), if(map.get($map, "color") != '', map.get($map, "color"), inherit), inherit);
    $font-family: if(map-has-key($map, "font-family"), if(map.get($map, "font-family") != '', map.get($map, "font-family"), var(--font-family-heading)), var(--font-family-heading));
    
    --text-transform: var(--#{$heading-name}-text-transform, #{$text-transform});
    --letter-spacing: var(--#{$heading-name}-letter-spacing, #{$letter-spacing});
    --line-height: var(--#{$heading-name}-line-height, #{$line-height});
    --color: var(--#{$heading-name}-color, #{$color});
    --font-family: var(--#{$heading-name}-font-family, #{$font-family});
}

// Shortcut mixins for site rules
@mixin base-heading-rules() {
    @each $key, $value in $heading-base {
    #{$key}: $value;
    }        
}

@mixin heading-rules-by-size($key, $heading-sizes) {
    $value: map.get($heading-sizes , #{$key});
    @include heading-size(#{$key}, $heading-sizes);    
    @include output-heading-rules($value, 'heading-#{$key}', $heading-sizes);
}

@mixin output-fluid-heading-props(
  $size: "default",
  $is-fluid-cq: true,
  $prop-list: "font-size-min" "font-size-max" "font-fluid-cq-variance",
  $heading-size-map: $heading-sizes
) {
  @each $key, $prop in $prop-list {
    $value: map.get(map.get($heading-size-map, $size), $key);
    @if $key == "font-size-min" or $key == "font-size-max" {
      $value: if($is-fluid-cq, var(--#{$value}), var(--#{$value}-px));
    }
    --#{$key}: #{$value};
  }
  $font-size: if(
    $is-fluid-cq,
    min(
      var(--font-size-max, var(--font-size-base)),
      calc(
        var(--font-size-min, var(--sm)) + var(--font-fluid-cq-variance, 3cqw)
      )
    ),
    clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    )
  );
  --font-size: #{$font-size};
}

@mixin output-heading-rules-3xl() {
    @include heading-rules-by-size('3xl', $heading-sizes);
}

@mixin output-heading-rules-2xl() {
    @include heading-rules-by-size('2xl', $heading-sizes);
}

@mixin output-heading-rules-xl() {
    @include heading-rules-by-size('xl', $heading-sizes);
}

@mixin output-heading-rules-lg() {
    @include heading-rules-by-size('lg', $heading-sizes);
}

@mixin output-heading-rules-default() {
    @include heading-rules-by-size('default', $heading-sizes);
}

@mixin output-heading-rules-sm() {
    @include heading-rules-by-size('sm', $heading-sizes);
}

@mixin output-heading-rules-xs() {
    @include heading-rules-by-size('xs', $heading-sizes);
}
