@use 'sass:list';
@use "sass:map";
@use "../../../mixins/headings" as *;
@use "../../../mixins/output-rules-with-scope" as *;
@use "../../../variables/components/typography/headings" as *;

$heading-tags: (
);
$heading-size-tags: (
);

@each $item in map-keys($headings) {
    $heading-tags: list.append($heading-tags, '#{$item}', comma);
}

@each $key, $value in $headings {
    $has-size: map-has-key($value, 'size');

    @if($has-size) {
        $size: map-get($value , 'size');
        $heading-size-tags: list.append($heading-size-tags, '.heading-#{$size}', comma);
    }
}

@include output-rules-with-scope() {
    @layer base {
        :where(#{$heading-tags}, #{$heading-size-tags}) {
            @each $key, $value in $heading-base {
                #{$key}: $value;
            }
        }

        // / For sub text sizing 
        :where(#{$heading-tags}, #{$heading-size-tags}) {
            >span {
                margin-trim: block;
            }

            >span:nth-of-type(1):not(:last-of-type) {
                font-size: 0.5em;
                display: block;
                line-height: 1;
            }

            &:has(span:nth-of-type(1):not(:last-of-type), span:only-of-type) {
                &.heading--underline {
                    >span:last-of-type {
                        &:after {
                            content: '';
                            display: block;
                            width: var(--heading-underline-width, min(10rem, calc(100% - 2em)));
                            background: var(--heading-underline-color, currentColor);
                            height: var(--heading-underline-height, 0.675rem);
                            margin-inline: auto;
                            margin-block-start: var(--heading-underline-block-start, 0.5em);
                            border-radius: var(--heading-underline-border-radius, 0);
                        }
                    }
                }

            }
        }


        
        /// Build in a switch which outputs in tailwind only - useful for specifity 

        @each $key, $value in $headings {
            $selector: if(map-has-key($value, 'size'), '#{$key},' '.heading-' + map-get($value, 'size'), #{$key});

            :where(#{$selector}) {
                @if(map-has-key($value, 'size')) {
                    $size: map-get($value , "size");
                    @include heading-size($size, $heading-sizes);
                }

                @if(map-has-key($value , 'text-transform')) {
                    $text-transform: map-get($value , 'text-transform');

                    @if($text-transform !='') {
                        --text-transform: #{$text-transform};
                    }
                }

                @if(map-has-key($value , 'letter-spacing')) {
                    $letter-spacing: map-get($value , 'letter-spacing');

                    @if($letter-spacing !='') {
                        --letter-spacing: #{$letter-spacing};
                    }
                }

                @if(map-has-key($value , 'line-height')) {
                    $line-height: map-get($value , 'line-height');

                    @if($line-height !='') {
                        --line-height: #{$line-height};
                    }
                }

                @if(map-has-key($value , 'color')) {
                    $color: map-get($value , 'color');

                    @if($color !='') {
                        --color: #{$color};
                    }
                }

                @if(map-has-key($value , 'font-family')) {
                    $font-family: map-get($value , 'font-family');

                    @if($font-family !='') {
                        --font-family: #{$font-family};
                    }
                }
            }
        }
    }
}