@use "sass:list";
@use "sass:map";
@use "../../../mixins/headings" as *;
@use "../../../mixins/output-rules-with-scope" as *;
@use "../../../variables/components/typography/headings" as *;

$heading-tags: ();
$heading-size-tags: ();
$heading-size-tag-classes: ();
$remainder-heading-size-tags: ();
$remainder-heading-size-tag-classes: ();

@each $item in map-keys($headings) {
  $heading-tags: list.append($heading-tags, "#{$item}", comma);
}

@each $key, $value in $headings {
  $has-size: map-has-key($value, "size");

  @if ($has-size) {
    $size: map-get($value, "size");
    $heading-size-tags: list.append($heading-size-tags, "#{$size}", comma);
  }
}

@each $size in $heading-size-tags {
  $heading-size-tag-classes: list.append(
    $heading-size-tag-classes,
    ".heading-#{$size}",
    comma
  );
}

@each $size in map-keys($heading-sizes) {
  $used-in-headings: if(index($heading-size-tags, $size) !=null, true, false);
  @if (not $used-in-headings) {
    @if (length($remainder-heading-size-tags) > 1) {
      $remainder-heading-size-tags: list.append(
        $remainder-heading-size-tags,
        ",",
        comma
      );
    } @else {
      $remainder-heading-size-tags: list.append(
        $remainder-heading-size-tags,
        "#{$size}"
      );
    }
  }
}

@each $size in $remainder-heading-size-tags {
  $remainder-heading-size-tag-classes: list.append(
    $remainder-heading-size-tag-classes,
    ".heading-#{$size}",
    comma
  );
}

@mixin output-heading-rules($map, $heading-name) {
  @if (map-has-key($map, "size")) {
    $size: map-get($map, "size");
    @include heading-size($size, $heading-sizes);
  }

    $text-transform: if(map-has-key($map, "text-transform"), if(map-get($map, "text-transform") != '', map-get($map, "text-transform"), none), none);
    $letter-spacing: if(map-has-key($map, "letter-spacing"), if(map-get($map, "letter-spacing") != '', map-get($map, "letter-spacing"), normal), normal);
    $line-height: if(map-has-key($map, "line-height"), if(map-get($map, "line-height") != '', map-get($map, "line-height"), normal), normal);
    $color: if(map-has-key($map, "color"), if(map-get($map, "color") != '', map-get($map, "color"), inherit), inherit);
    $font-family: if(map-has-key($map, "font-family"), if(map-get($map, "font-family") != '', map-get($map, "font-family"), var(--font-family-heading)), var(--font-family-heading));
    
    --text-transform: var(--#{$heading-name}-text-transform, #{$text-transform});
    --letter-spacing: var(--#{$heading-name}-letter-spacing, #{$letter-spacing});
    --line-height: var(--#{$heading-name}-line-height, #{$line-height});
    --color: var(--#{$heading-name}-color, #{$color});
    --font-family: var(--#{$heading-name}-font-family, #{$font-family});
}

@include output-rules-with-scope() {
  @layer base {
    :where(#{$heading-tags}, #{$heading-size-tag-classes}, #{$remainder-heading-size-tag-classes}) {
      @each $key, $value in $heading-base {
        #{$key}: $value;
      }
    }

    // / For sub text sizing
    :where(#{$heading-tags}, #{$heading-size-tag-classes}, #{$remainder-heading-size-tag-classes}) {
      > span {
        margin-trim: block;
      }

      > span:nth-of-type(1):not(:last-of-type) {
        font-size: 0.5em;
        display: block;
        line-height: 1;
      }

      &:has(span:nth-of-type(1):not(:last-of-type), span:only-of-type) {
        &.heading--underline {
          > span:last-of-type {
            &:after {
              content: "";
              display: block;
              width: var(
                --heading-underline-width,
                min(10rem, calc(100% - 2em))
              );
              background: var(--heading-underline-color, currentColor);
              height: var(--heading-underline-height, 0.675rem);
              margin-inline: var(--heading-underline-margin-inline, 0);
              margin-block-start: var(--heading-underline-block-start, 0.5em);
              border-radius: var(--heading-underline-border-radius, 0);
            }
          }
          &[class*="text-center"] {
            --heading-underline-margin-inline: auto;
          }
        }
      }
    }

    /// Build in a switch which outputs in tailwind only - useful for specifity

    @each $key, $value in $headings {
      $heading-tag: $key;
      $heading-class: if(
        map-has-key($value, "size"),
        ".heading-" + map-get($value, "size"),
        #{$key}
      );
      $prop-name: if(
        map-has-key($value, "size"),
        "heading-" + map-get($value, "size"),
        $key
      );

      :where(#{$heading-tag}),
      :is(#{$heading-class}) {
        @include output-heading-rules($value, $prop-name);
      }
    }

    @each $key, $value in $heading-sizes {
        @if (index($remainder-heading-size-tags, $key) != null) {
            :is(.heading-#{$key}) {
                @include heading-size($key, $heading-sizes);
                @include output-heading-rules($value, 'heading-#{$key}');
            }
        }
    }

  }
}
