// replace with oklch when lightningcss is in place
@use "../../../theme/_index" as *;
@use "../../variables/config" as config;

$_colorNamePrefix: getColorPrefix();

//// For colors I'm using register-colors as a reference for the default colors values. This allows color overridees to use custom properties values other than numbers
$register-lch: (
    'primary-l': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.7
    ),
    'primary-c': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.15
    ),    
    'primary-h': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 256
    ),   
    'secondary-l': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.72
    ),
    'secondary-c': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.14
    ),
    'secondary-h': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 145
    ),
    'tertiary-l': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.75
    ),
    'tertiary-c': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.16
    ),
    'tertiary-h': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 55
    ),
    'dark-l': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.23
    ),
    'dark-c': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0
    ),
    'dark-h': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0
    ),
    'light-l': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0.97
    ),
    'light-c': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0
    ),
    'light-h': (
        'syntax': '<number>',
        'inherits': true,
        'initial-value': 0
    ),
);

$register-colors: (
    'primary': (
        'syntax': '<color>',
        'inherits': true,
        'initial-value': oklch(map-deep-get($register-lch, "primary-l", "initial-value") map-deep-get($register-lch, "primary-c", "initial-value") map-deep-get($register-lch, "primary-h", "initial-value"))
    ),
    'secondary': (
        'syntax': '<color>',
        'inherits': true,
        'initial-value': oklch(map-deep-get($register-lch, "secondary-l", "initial-value") map-deep-get($register-lch, "secondary-c", "initial-value") map-deep-get($register-lch, "secondary-h", "initial-value"))
    ),
    'tertiary': (
        'syntax': '<color>',
        'inherits': true,
        'initial-value': oklch(map-deep-get($register-lch, "tertiary-l", "initial-value") map-deep-get($register-lch, "tertiary-c", "initial-value") map-deep-get($register-lch, "tertiary-h", "initial-value"))
    ),
    'dark': (
        'syntax': '<color>',
        'inherits': true,
        'initial-value': oklch(map-deep-get($register-lch, "dark-l", "initial-value") map-deep-get($register-lch, "dark-c", "initial-value") map-deep-get($register-lch, "dark-h", "initial-value"))    
    ),
    'light': (
        'syntax': '<color>',
        'inherits': true,
        'initial-value': oklch(map-deep-get($register-lch, "light-l", "initial-value") map-deep-get($register-lch, "light-c", "initial-value") map-deep-get($register-lch, "light-h", "initial-value"))    
    )    
);

$fg-threshold: config.$fg-threshold;
$fg-lightest-text: config.$fg-lightest-text;
$fg-darkest-text: config.$fg-darkest-text;
$fg-muted-lightest-text: config.$fg-muted-lightest-text;
$fg-muted-darkest-text: config.$fg-muted-darkest-text;

$primary-l: config.$primary-l;
$primary-c: config.$primary-c;
$primary-h: config.$primary-h;

$primary: oklch(var(--#{$_colorNamePrefix}primary-l, #{$primary-l}) var(--#{$_colorNamePrefix}primary-c, #{$primary-c}) var(--#{$_colorNamePrefix}primary-h, #{$primary-h}));

// $secondary-l: var(--#{$_colorNamePrefix}primary-l-1);
$secondary-l: config.$secondary-l;
$secondary-c: config.$secondary-c;
$secondary-h: config.$secondary-h;

$secondary: oklch(var(--#{$_colorNamePrefix}secondary-l, #{$secondary-l}) var(--#{$_colorNamePrefix}secondary-c, #{$secondary-c}) var(--#{$_colorNamePrefix}secondary-h, #{$secondary-h}));

// $tertiary-l: calc(var(--#{$_colorNamePrefix}primary-l-11) + 0.18);
$tertiary-l: config.$tertiary-l;
$tertiary-c: config.$tertiary-c;
$tertiary-h: config.$tertiary-h;

$tertiary: oklch(var(--#{$_colorNamePrefix}tertiary-l, #{$tertiary-l}) var(--#{$_colorNamePrefix}tertiary-c, #{$tertiary-c}) var(--#{$_colorNamePrefix}tertiary-h, #{$tertiary-h}));

$dark-l: config.$dark-l;
$dark-c: config.$dark-c;
$dark-h: config.$dark-h;

$dark: oklch(var(--#{$_colorNamePrefix}dark-l, #{$dark-l}) var(--#{$_colorNamePrefix}dark-c, #{$dark-c}) var(--#{$_colorNamePrefix}dark-h, #{$dark-h}));

$light-l: config.$light-l;
$light-c: config.$light-c;
$light-h: config.$light-h;

$light: oklch(var(--#{$_colorNamePrefix}light-l, #{$light-l}) var(--#{$_colorNamePrefix}light-c, #{$light-c}) var(--#{$_colorNamePrefix}light-h, #{$light-h}));

// $grey-l: if(meta.global-variable-exists(grey-l), $grey-l, $primary-l) !default;
// $grey-c: if(meta.global-variable-exists(grey-c), $grey-c, 0.050) !default;
// $grey-h: if(meta.global-variable-exists(grey-h), $grey-h, $primary) !default;

// $grey: oklch(var(--#{$_colorNamePrefix}grey-l) var(--#{$_colorNamePrefix}grey-c) var(--#{$_colorNamePrefix}grey-h))!default; 

