@use "sass:string";
@use "../../variables/config" as config;

$font-family-base: config.$font-family-base !default;
$font-family-heading: config.$font-family-heading !default;
$font-heading-weight: config.$font-heading-weight !default;

$register-font: (
    'font-family-base': (
        'syntax': "*",
        'inherits': true,
        'initial-value': "'system-ui'"
    ),
    'font-family-heading': (
        'syntax': "*",
        'inherits': true,
        'initial-value': "sans-serif"
    ),
    'font-heading-weight': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$font-heading-weight}
    )
);