@use "sass:string";
// Import theme overrides first
@import "../../../theme/overrides-proxy";

$font-family-base: 'system-ui, sans-serif' !default;
$font-family-heading: string.unquote("Calibri, Seravek, 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', source-sans-pro, sans-serif") !default;
$font-heading-weight: 600 !default;

$register-font: (
    'font-family-base': (
        'syntax': "*",
        'inherits': true,
        'initial-value': "'system-ui'"
    ),
    'font-family-heading': (
        'syntax': "*",
        'inherits': true,
        'initial-value': "sans-serif"
    ),
    'font-heading-weight': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$font-heading-weight}
    )
);