@use "../../variables/config" as config;

$text-frame-ratio: config.$text-frame-ratio !default;
$text-frame-y: config.$text-frame-y !default;
$text-frame-x: calc(var(--text-frame-y, #{$text-frame-y}) * var(--text-frame-ratio, #{$text-frame-ratio})) !default;
$space-increment: config.$space-increment !default;
$unit-max: config.$unit-max !default;
$unit-min: config.$unit-min !default;
$unit-fluid: config.$unit-fluid !default;
$unit: clamp(var(--unit-min, 0.25rem), var(--unit-fluid, 1vi), var(--unit-max, #{$unit-max})) !default;
$radius: config.$radius !default;
$line-height-relative: config.$line-height-relative !default;
$line-height-fixed: config.$line-height-fixed !default;
$flow-space: config.$flow-space !default;
$field-border-color: config.$field-border-color !default;
$field-border-width: config.$field-border-width !default;

$register-key-tokens: (
    'text-frame-ratio': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$text-frame-ratio}
    ),
    'text-frame-y': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$text-frame-y}
    ),
    'text-frame-x': (
        'syntax': "*",
        'inherits': true,
        'initial-value': calc(#{$text-frame-y} * #{$text-frame-ratio})
    ),
    'space-increment': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$space-increment}
    ),
    'unit-max': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$unit-max}
    ),
    'unit-min': (
        'syntax': "*",
        'inherits': true,
        'initial-value':  calc(#{$unit-max} / 2) 
    ),
    'unit-fluid': (
        'syntax': "<length>",
        'inherits': true,
        'initial-value': #{$unit-fluid}
    ),
    'unit': (
        'syntax': "*",
        'inherits': true,
        'initial-value': clamp(calc(#{$unit-max} / 2), #{$unit-fluid}, #{$unit-max})
    ),
    'radius': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$radius}
    ),
    'line-height-relative': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$line-height-relative}
    ),
    'line-height-fixed': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$line-height-fixed}
    ),
    'flow-space': (
        'syntax': "*",
        'inherits': true,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42)
    ),
    'field-border-width': (
        'syntax': "<length>",
        'inherits': true,
        'initial-value': #{$field-border-width}
    ),
    'field-border-color': (
        'syntax': "<color>",
        'inherits': true,
        'initial-value': #d1d5db
    )                                     
);