// Import theme overrides first
@import "../../../theme/overrides";

$text-frame-ratio: 2.75 !default;
$text-frame-y: 0.725em !default;
$text-frame-x: calc(var(--text-frame-y, #{$text-frame-y}) * var(--text-frame-ratio, #{$text-frame-ratio})) !default;
$space-increment: 1.42 !default;
$unit-max: 1rem !default;
$unit-min: var(--unit-max, #{$unit-max}) / 2 !default;
$unit-fluid: 1vi !default;
$unit: clamp(var(--unit-min, 0.25rem), var(--unit-fluid, 1vi), var(--unit-max, #{$unit-max})) !default;
$radius: 0.35rem !default;
$line-height-relative: 1.4em !default;
$line-height-fixed: 0.375rem !default;
$flow-space: var(--space-lg) !default;
$field-border-color: var(--color-grey-10, #d1d5db) !default;
$field-border-width: 1px !default;

$register-key-tokens: (
    'text-frame-ratio': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$text-frame-ratio}
    ),
    'text-frame-y': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$text-frame-y}
    ),
    'text-frame-x': (
        'syntax': "*",
        'inherits': true,
        'initial-value': calc(#{$text-frame-y} * #{$text-frame-ratio})
    ),
    'space-increment': (
        'syntax': "<number>",
        'inherits': true,
        'initial-value': #{$space-increment}
    ),
    'unit-max': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$unit-max}
    ),
    'unit-min': (
        'syntax': "*",
        'inherits': true,
        'initial-value':  calc(#{$unit-max} / 2) 
    ),
    'unit-fluid': (
        'syntax': "<length>",
        'inherits': true,
        'initial-value': #{$unit-fluid}
    ),
    'unit': (
        'syntax': "*",
        'inherits': true,
        'initial-value': clamp(calc(#{$unit-max} / 2), #{$unit-fluid}, #{$unit-max})
    ),
    'radius': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$radius}
    ),
    'line-height-relative': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$line-height-relative}
    ),
    'line-height-fixed': (
        'syntax': "*",
        'inherits': true,
        'initial-value': #{$line-height-fixed}
    ),
    'flow-space': (
        'syntax': "*",
        'inherits': true,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42)
    ),
    'field-border-width': (
        'syntax': "<length>",
        'inherits': true,
        'initial-value': #{$field-border-width}
    ),
    'field-border-color': (
        'syntax': "<color>",
        'inherits': true,
        'initial-value': #d1d5db
    )                                     
);