// Import theme overrides first
@use "./key-tokens" as tokens;
@use "../../../theme/" as *;
@import "../../../theme/overrides";

$space-increment: #{tokens.$space-increment};

$space-3xs: calc(var(--space-2xs) / #{$space-increment}) !default;
$space-2xs: calc(var(--space-xs) / #{$space-increment}) !default;
$space-xs: calc(var(--space-sm) / #{$space-increment}) !default;
$space-sm: var(--unit, #{tokens.$unit}) !default;
$space-md: calc(var(--space-sm) * #{$space-increment}) !default;
$space-lg: calc(var(--space-md) * #{$space-increment}) !default;
$space-xl: calc(var(--space-lg) * #{$space-increment}) !default;
$space-2xl: calc(var(--space-xl) * #{$space-increment}) !default;
$space-3xl: calc(var(--space-2xl) * #{$space-increment}) !default;
$space-4xl: calc(var(--space-3xl) * #{$space-increment}) !default;
$space-5xl: calc(var(--space-4xl) * #{$space-increment}) !default;
$space-6xl: calc(var(--space-5xl) * #{$space-increment}) !default;

$register-spacing: (
    'space-3xs': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) / 1.42 / 1.42 / 1.42)
    ),
    'space-2xs': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) / 1.42 / 1.42)
    ),
    'space-xs': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) / 1.42)
    ),
    'space-sm': (
        'syntax': "*",
        'inherits': false,
        'initial-value': clamp(0.25rem, 1vi, 1rem)
    ),
    'space-md': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42)
    ),
    'space-lg': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42)
    ),
    'space-xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42)
    ),
    'space-2xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42 * 1.42)
    ),
    'space-3xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42 * 1.42 * 1.42)
    ),
    'space-4xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42)
    ),
    'space-5xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42)
    ),
    'space-6xl': (
        'syntax': "*",
        'inherits': false,
        'initial-value': calc(clamp(0.25rem, 1vi, 1rem) * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42 * 1.42)
    )                                            
);