// https://lea.verou.me/blog/2024/contrast-color/
@use "sass:math";
@use "../functions/get-color-prefix" as *;

@function get-contrast($from: var(--bg-color)) {
  @return oklch(from #{$from} clamp(var(--contrast-lightest-text, 0), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--contrast-darkest-text, 1)) 0 h);
}

@function get-contrast-muted($from: var(--bg-color)) {
  @return oklch(from #{$from} clamp(var(--contrast-muted-lightest-text, 0), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--contrast-muted-darkest-text, 1)) 0 h);
}

@mixin generate-color-surface-text(  
  $class-name: "l",  
  $prefix: getColorPrefix()
) {

  --#{$prefix}#{$class-name}-contrast: oklch(from var(--color, var(--#{$prefix}#{$class-name})) clamp(var(--#{$prefix}#{$class-name}-contrast-lightest-text, var(--contrast-lightest-text, 0)), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--#{$prefix}#{$class-name}-contrast-darkest-text, var(--contrast-darkest-text, 1))) 0 h);

  --#{$prefix}#{$class-name}-contrast-muted: oklch(from var(--color, var(--#{$prefix}#{$class-name})) clamp(var(--#{$prefix}#{$class-name}-contrast-muted-lightest-text, var(--contrast-muted-lightest-text, 0)), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--#{$prefix}#{$class-name}-contrast-muted-darkest-text, var(--contrast-muted-darkest-text, 1))) c h);

}

@mixin generate-color-surface-text-steps(  
  $class-name: "l",
  $steps: 12,
  $prefix: getColorPrefix(),
  $dark-class-name: dark
) {

  @for $i from 0 through ($steps - 1) {
    // Output the color
  --#{$prefix}#{$class-name}-#{$i}-contrast: oklch(from var(--color, var(--#{$prefix}#{$class-name}-#{$i})) clamp(var(--#{$prefix}#{$class-name}-#{$i}-contrast-lightest-text, var(--contrast-lightest-text, 0)), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--#{$prefix}#{$class-name}-#{$i}-contrast-darkest-text, var(--contrast-darkest-text, 1))) 0 h);

  --#{$prefix}#{$class-name}-#{$i}-contrast-muted: oklch(from var(--color, var(--#{$prefix}#{$class-name}-#{$i})) clamp(var(--#{$prefix}#{$class-name}-#{$i}-contrast-muted-lightest-text, var(--contrast-muted-lightest-text, 0)), (l / var(--contrast-threshold, 0.623) - 1) * -infinity, var(--#{$prefix}#{$class-name}-#{$i}-contrast-muted-darkest-text, var(--contrast-muted-darkest-text, 1))) c h);

  }
}

