@use "open-props-scss" as op;
@use "../../../theme" as *;
@use "../../variables/components/typography/headings" as *;
@use "../../variables/components/cards" as *;
@use "../../mixins/rules/components/card" as card;
@use "../../mixins/rules/components/flow" as *;
@use "../../mixins/rules/components/typography/fluid-type" as fluid;

@mixin all-card-styles() {
  @layer base {
    :where(#{$card-component-selectors}) {
      @include card.default-rules();

      :where(.button, button) {
        @include card.link();
      }
    }

    :where(#{$card-body-selectors}) {
      padding-inline: var(--card-body-padding-inline);
      padding-block: var(--card-body-padding-block);
      display: block;
      > * + * {
        @include flow();
      }
    }

    :where(#{$card-picture-selectors}) {
      max-width: 100%;
    }

    :where(#{$card-picture-selectors}):not(:empty) {
      // this casuses issues when row type
      align-self: stretch;
      display: flex;
      justify-content: center;

      :where(img) {
        aspect-ratio: var(--card-picture-aspect, var(--aspect-video));
        width: 100%;
        object-fit: cover;
      }
    }

    :where(#{$card-title-selectors}):is(h1, h2, h3, h4, h5, h6) {
      $has-size: map-has-key($heading-sizes, $card-title-heading-size);

      @if ($has-size) {
        $size: map-get($heading-sizes, $card-title-heading-size);
        @include heading-size($card-title-heading-size, $heading-sizes);

        @container style(--fluid-headings: true) {
          @include fluid.fluid-type();
        }
      }
    }
  }

  @layer modifiers {
    :where(#{$card-component-selectors}) {
      @include card.grid-template-attr-sizes();
    }

    :where(#{$card-component-selectors}):is([data-card-layout="col"]) {
      @include card.column-rules();

      &:has(#{$card-picture-selectors}) {
        @include card.two-column-layout();
      }
    }

    :where(#{$card-component-selectors}):not([data-card-bordered]) {
      --card-border-width: 0;
    }

    :where(#{$card-component-selectors}):not([data-card-layout="col"]) {
      grid-auto-flow: row;
      align-items: flex-start;
      justify-content: start;
      aspect-ratio: unset;

      &:has(#{$card-picture-selectors}) {
        grid-auto-flow: row;
        grid-auto-rows: var(--card-auto-row);
      }

      &:has(#{$card-picture-selectors}:first-child) {
        --card-auto-row: var(--card-top-row, auto) var(--card-bottom-row, 1fr);
      }

      &:has(#{$card-picture-selectors}:not(:first-child)) {
        --card-auto-row: var(--card-top-row, max-content) var(--card-bottom-row, auto);
      }
    }

    :where(#{$card-component-selectors}[data-card-outer-shadow="1"]) {
      box-shadow: op.shadow(1);
    }

    :where(#{$card-component-selectors}[data-card-layout="overlay"]) {

      @include card.layout-overlay-default-rules();

      @container (inline-size <= 80ch) {
        @include card.layout-overlay-row-rules();
      }

      @container (inline-size > 80ch) {
        @include card.layout-overlay-column-rules();
      }
    }

    :where(#{$card-component-selectors}[data-card-backdrop]) {
      &[data-surface] {
        --card-backdrop-color-from-color: var(--surface-bg-color);
        --card-backdrop-color-to-color: var(--surface-bg-color);
      }

      #{$card-body-selectors} {
        @include card.psuedo-backdrop();
      }
    }

    @each $direction in $card-backdrop-directions {
      :where(#{$card-component-selectors}[data-card-backdrop="#{$direction}"]) {
        @include card.backdrop-direction($direction);
      }
    }

    :where(#{$card-component-selectors}):is([data-card-layout="col"]) {
      @include card.column-rules();
    }

    :where(#{$card-component-selectors}):is([data-card-layout="row"]) {
      @include card.row-rules();
    }

    @container (inline-size <=80ch) {
      :where(#{$card-component-selectors}):not([data-card-layout="col"]) {
        @include card.row-rules();
      }
    }

    @container (inline-size > 80ch) {
      :where(#{$card-component-selectors}):not([data-card-layout="row"]) {
        --card-auto-row: auto;
        @include card.column-rules();
        &:has(#{$card-picture-selectors}:not(:empty)) {
          @include card.two-column-layout();
        }
      }
    }
  }
}

@include output-rules-with-scope() {
  @include all-card-styles();
}
