@use "../../../../theme" as *;
@use "../../../variables/components/forms" as *;
@use "../../../variables/props/forms" as *;
@use "../../../variables/props/font-size" as fs;

@mixin output-input-base-props($props-to-include: $input-base-props) {
  @include output-props("_", $props-to-include...);
}

@mixin input-base-rules() {
  @include output-input-base-props();
  background-color: var(--_bg);
  color: var(--_color);
  font-size: var(--_fs);
}

@mixin input-text-rules() {
  @each $key, $value in $input-text-rules {
    #{$key}: $value;
  }
}

@mixin input-box-rules() {
  @each $key, $value in $input-box-rules {
    #{$key}: $value;
  }
}

@mixin input-size-variants(
  $pre-selector: null,
  $selector: ".input",
  $props: "font-size"
) {
  @each $size in $input-sizes {
    @if (map-has-key(fs.$font-size-list, $size)) {
      @if ($pre-selector) {
        #{$pre-selector} {
          &#{$selector}--#{$size} {
            @each $prop in $props {
              #{$prop}: var(--#{$size});
            }
          }
        }
      } @else {
        #{$selector}--#{$size} {
          @each $prop in $props {
            #{$prop}: var(--#{$size});
          }
        }
      }
    }
  }
}

@mixin default-layout-label-rules() {
  padding-block-start: map-get($input-text-rules, "padding-block");
}

@mixin form-element-states() {
  &:focus-within {
    outline-color: var(
      --input-outline-color-focused,
      var(--_outline-color-focused)
    );
  }
  &:is([minlength], [pattern], [required]) {
    @container style(--eager:true) {
      &:invalid:not(:placeholder-shown) {
        --input-outline-color: red;
      }
      &:valid {
        --input-outline-color: green;
      }
    }
    &:user-invalid:not(:placeholder-shown) {
      --input-outline-color: red;
    }
    &:user-valid {
      --input-outline-color: green;
    }
  }
}

@mixin layout-rules() {
  #{$form-layout-selector} {
    @layer base {
      --row-gap: var(--space-sm);
      --column-gap: var(--space-sm);
      --hint-fs: var(--xs);
      --half-row-gap: calc(var(--row-gap) / 2);
      --quarter-row-gap: calc(var(--row-gap) / 4);
      display: grid;
      grid-template-columns: max(25%, 120px) 1fr;
      gap: var(--row-gap) var(--column-gap);
      &:has(.hint) {
        row-gap: max(
          var(--half-row-gap),
          calc(var(--hint-fs) + var(--half-row-gap))
        );
        :is(#{$form-row-selector}) {
          row-gap: max(var(--quarter-row-gap), 4px);
          &:not(:has(.hint)) {
            margin-block-start: var(--row-gap);
          }
          &:has(.hint) {
            + :is(#{$form-row-selector}) {
              margin-block-start: 0;
            }
          }
        }
      }
      :where(.hint) {
        visibility: hidden;
        grid-column-start: 2;
        font-size: var(--hint-fs);
      }
      :is(#{$form-row-selector}) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
      }
      :is(
          div:has(> input[type="radio"], > input[type="checkbox"]),
          button[type="submit"]
        ) {
        grid-column-start: 2;
        grid-template-columns: max-content 1fr;
        column-gap: min(var(--column-gap), var(--space-xs));
        align-items: center;
      }
    }
  }
  :where(label:has(+ input:is(#{$input-text-selectors}))) {
    @layer base {
      @include default-layout-label-rules();
    }
  }

  :where(
      div:has(> input[type="radio"], > input[type="checkbox"]):has(
          label:first-child
        )
    ) {
    @layer base {
      label {
        order: 2;
      }
    }
  }


}

@mixin input-textarea-select-rules() {
    @layer base {
      @include input-base-rules();
    }    
    @layer modifiers {
      @include input-size-variants();
    }    
    @layer states {
      @if ($include-form-input-states) {
        @include form-element-states();        
      }
    }  
}

@mixin input-rules() {
    @layer base {
      // @include input-base-rules();
      &:is(#{$input-text-selectors}) {
        @include input-text-rules();
      }
      &:is([type="radio"], [type="checkbox"]) {
        @include input-box-rules();
      }
    }
}

@mixin textarea-select-rules() {
    @layer base {
      @include input-text-rules();
    }
}

////
@mixin element-rules() {
  :where(input, textarea, select) {
    @include input-textarea-select-rules();   
  }

  :where(input) {
    @include input-rules();
  }

  :where(textarea, select) {
    @include textarea-select-rules();
  }

  @include input-size-variants(
    ':where(input:is([type="radio"], [type="checkbox"]))',
    ".input",
    "width" "height"
  );
}