@use "sass:meta";
@use "../../functions/get-color-prefix" as *;
@use "../../functions/overrides" as *;
@use "../../../theme/overrides" as overrides;


$_colorNamePrefix: getColorPrefix();
$_overrides: meta.module-variables("overrides");

$button-selectors: get-override("button-selectors", '.button, button', $_overrides);

$button-default-color: #{$_colorNamePrefix}grey-10!default;
$button-border-width: 1px !default;
$button-border-depth: 1!default; // border depth
$button-font-weight: normal !default;

$button-base-rules: (
  "display": inline-flex,
  "justify-content": center,
  "color": var(--button-fg),
  "background-color": var(--button-bg),
  "border": var(--button-border-width, #{$button-border-width}) var(--button-border-style, solid)
    var(--button-border, var(--button-color)),
  "padding": var(--button-padding-block-start, var(--text-frame-y))
    var(--button-padding-inline-end, var(--text-frame-x))
    var(--button-padding-block-end, var(--text-frame-y))
    var(--button-padding-inline-start, var(--text-frame-x)),
  "border-radius": var(--button-border-radius, min(var(--radius), var(--button-max-radius, var(--radius)))),
  "font-weight": var(--button-font-weight, #{$button-font-weight}),
) !default;

$button-base-props: (
  "button-color": var(--button-default-color, var(--#{$button-default-color})),
  "button-color-contrast": var(--button-default-color-contrast, var(--#{$button-default-color}-contrast)),
  "button-border-color": color-mix(in oklab, var(--button-color), calc(var(--button-border-depth, #{$button-border-depth}) * 5%) var(--button-border-color-mix, var(--#{$_colorNamePrefix}dark, #000))  ),
  "button-fg": var(--button-color-contrast),
  "button-bg": var(--button-color),
  "button-border": var(--button-border-color),
)!default;

    // --btn-bg: var(--btn-color, var(--color-base-200));
    // --btn-fg: var(--color-base-content);
    // --btn-p: 1rem;
    // --btn-border:  color-mix(in oklab, var(--btn-bg), #000 calc(var(--depth) * 5%));
    // --btn-shadow: 0 3px 2px -2px color-mix(in oklab, var(--btn-bg) calc(var(--depth) * 30%), #0000), 0 4px 3px -2px color-mix(in oklab, var(--btn-bg) calc(var(--depth) * 30%), #0000);

$button-soft-opacity: 0.125 !default;
$button-soft-hover-opacity: 0.25 !default;

$button-xs-font-size: var(--xs) !default;
$button-xs-padding-frame-y: 0.25em !default;
$button-xs-padding-frame-ratio: 1.2 !default;

$button-sm-font-size: var(--sm) !default;
$button-sm-padding-frame-y: 0.5em !default;
$button-sm-padding-frame-ratio: 1.2 !default;

$button-lg-font-size: var(--lg) !default;
$button-lg-padding-frame-y: 0.725em !default;
$button-lg-padding-frame-ratio: 3 !default;

$button-xl-font-size: var(--xl) !default;
$button-xl-padding-frame-y: 0.725em !default;
$button-xl-padding-frame-ratio: 3.25 !default;
