$timeline-component-selector: ".c-timeline"!default;
$timeline-item-selector: ".c-timeline__item"!default;
$timeline-item-inner-selector: ".c-timeline__item-inner"!default;
$timeline-item-tile-selector: ".c-timeline__item-title"!default;
$timeline-item-text-selector: ".c-timeline__item-text"!default;
$timeline-vertical-line-selector: ".c-timeline-grid-vertical-line"!default;

$timeline-gap: "1rem"!default;
$timeline-total-gap: "calc(var(--gap) + (var(--spacing) * 2))"!default;
$timeline-width: min(var(--breakpoint-xl), 100%) !default;
$timeline-marker-size: "1rem"!default;
$timeline-line-width: "2px"!default;
$timeline-counter-padding: "calc(var(--spacing) * 1)"!default;
$timeline-counter-font-size: "var(--text-4xl)"!default;

// $timeline-title-heading-size: "xs"!default;